body{
    background-image: url(../background/main.png);
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#top{
    margin-top:-150px;
    float: right;
    text-align: right;
    line-height: 10px;
}

#options{
    margin-top: 160px;
    height: 200px;
}

.button{
    margin-left: 300px;
    text-align: left;
    margin-top: 60px;
    width: 30%;
    transition: margin-left 1s;
    box-shadow: -590px 0px 0px 1px white;
}

.button:hover,
.button:focus {
  margin-left: 400px;
}

#collection{
    font-size: 50px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
}

#expedition{
    font-size: 50px;
    text-decoration-line: none;
    color: white;
}

#deconnecter{
    color: #321D1D;
}


.recherche_group{
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    width: 400px;
    box-shadow: -420px 0px 0px 1px white;
}

#form_recherche{
    margin-left: 400px;
    margin-top: 200px;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}

#chercher{
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    width: 95%;
    height: 35px;
}

#chercher:focus{
    border-color: #AE445A;
    box-shadow: 0px 0px 10px 5px #AE445A;
}

#chercher_submit{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', bold;
    color: white;

    margin-top: 20px;
    background: none;
    border: 1.5px solid;
    border-color: white;
    border-radius: 5px;
    transition: transform 1s, box-shadow 1s;
    width: 98%;
    height: 30px;
}

#chercher_submit:hover,
#chercher_submit:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #AE445A;
  transform: translateY(-0.25em);
}



